*, *:before, *:after {
    box-sizing: border-box;
}

body {
  background-color: #dadada;
  font-family: system-ui, sans-serif;
  font-size: 75%;
}


.container {
  margin: 20px auto;
  width: 90%;
}

div {
  float: left;
  height: 300px;
  width: 375px;
  margin: 2% 0;
  overflow: hidden;
}

/* two column design */
@media screen and (min-width: 575px){
   div {
    margin: 1%;
    width: 48%;
  }
}

/* four column design */
@media screen and (min-width: 991px){
   div {
    margin: 1%;
    width: 22%;
  }
}

h1 {
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
  padding: 20px 0 20px;
}

h2 {
  position: absolute;
  font-size: 2em;
  font-family: serif;
  padding: 25px;

}

img {
  float: left;
  width: auto;
  height: 100%;
  overflow: hidden;
}

